<div id='login-page'>
  
  <div class='login-buttons'>
    <% if (providers) {%>
      <% Object.keys(providers).forEach(function (key) { %>
        <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
      <% }) %>
    <% } %>
  </div>
  
</div>